.card {
  padding: 16px
	border-radius: 16px
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12)
	border: 1px solid rgba(0, 68, 255, 0.08)
	background-color: var(--color-white)
}

.card-info {
	background-color: var(--color-action-transparent)
	color: var(--color-action)
	border-color: var(--color-action)
}