:root {
	--color-black: #000000
	--color-white: #FFFFFF
	--color-grey: #eaeaea

	--color-action: #0076FF
	--color-accent: #F8E71C
	--color-positive: #2CBE4E
	--color-negative: #FF0000
	--color-contrast: #79FFE1

	--color-action-transparent: rgba(0, 118, 255, 0.08)
	--color-positive-transparent: rgba(44, 190, 78, 0.08)
	--color-negative-transparent: rgba(255, 0, 0, 0.08)

}